<!DOCTYPE html>
{% verbatim %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>God | Coriandrum Sativum</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
</head>
<body>

{% endverbatim %}
{% csrf_token %}
<input type="hidden" name="userid" value="{{ user.id }}">
{% verbatim %}

<div id="app">

    Новые (Общая куча):
    <ol>
        <li v-for="post in posts['new']">
            Id: {{ post.id }} <br>
            Author: {{ post.author }} <br>
            Text: {{ post.text }} <br>
            Status: {{ post.status }} <br>
            <button v-on:click="movePost(post.id, 'in_consideration')">На осознание</button>
            <button v-on:click="movePost(post.id, 'trash')">Испепелить</button>
            <button v-on:click="movePost(post.id, 'looks_interesting')">На публикацию</button>
        </li>
    </ol>

    На осознании (Ваша личная куча):
    <ol>
        <li v-for="post in posts['in_consideration']">
            Id: {{ post.id }} <br>
            Author: {{ post.author }} <br>
            Text: {{ post.text }} <br>
            Status: {{ post.status }} <br>
            <button v-on:click="movePost(post.id, 'new')">Обратно в новые</button>
            <button v-on:click="movePost(post.id, 'trash')">Испепелить</button>
            <button v-on:click="movePost(post.id, 'looks_interesting')">На публикацию</button>
        </li>
    </ol>

    Готовы к публикации (Общая куча):
    <ol>
        <li v-for="post in posts['looks_interesting']">
            Id: {{ post.id }} <br>
            Author: {{ post.author }} <br>
            Text: {{ post.text }} <br>
            Status: {{ post.status }} <br>
            <button v-on:click="movePost(post.id, 'trash')">Испепелить</button>
            <button v-on:click="movePost(post.id, 'in_consideration')">Обратно на осознание</button>
            <button v-on:click="movePost(post.id, 'published')">Опубликовано (обрадовать автора)</button>
        </li>
    </ol>
</div>

<script>

    Vue.http.interceptors.push(function(request, next) {
        request.headers.set('Content-Type', 'application/json ');
        request.headers.set("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value);
        next();
    });

    var in_consideration_by_moderator = document.getElementsByName('userid')[0].value;

    var app = new Vue({
        el: '#app',
        data: {
            posts: {
                "new": [],
                "in_consideration": [],
                "looks_interesting": []
            }
        },
        methods: {
            loadList: function(post_type) {

                var in_consideration_by_moderator = document.getElementsByName('userid')[0].value;

                var params = {
                    status: post_type,
                    in_consideration_by_moderator: ""
                };

                if (post_type === "in_consideration") {
                    params['in_consideration_by_moderator'] = document.getElementsByName('userid')[0].value;
                }

                this.$http.get('/api/post/', {
                    params: params
                })
                    .then(function(response) {
                        this.posts[post_type] = response.body;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            movePost: function(post_id, new_status) {

                this.$http.put('/api/post/' + post_id + "/", {
                    status: new_status,
                    in_consideration_by_moderator: document.getElementsByName('userid')[0].value
                })
                    .then(function(response) {
                        this.loadList("new");
                        this.loadList("in_consideration");
                        this.loadList("looks_interesting");
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            }
        },
        created: function(){
            this.loadList("new");
            this.loadList("in_consideration");
            this.loadList("looks_interesting");

            setInterval(function () {
                this.loadList("new");
                this.loadList("in_consideration");
                this.loadList("looks_interesting");
            }.bind(this), 3000);
        }
    })
</script>

<a href="/admin/logout/?next=/">Всего хорошего</a>

</body>
</html>
{% endverbatim %}