<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Агент Лентача</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="user">
        <div class="title">Агент Лентача</div>
        <div class="avatar" style="background-image: url('{{user.vk_avatar}}');"></div>
        <div class="name">{{user.vk_name}}</div>
      </div>
      <div class="divider"></div>
      <div class="statusbox">
        {% if user.level > 0 %}
        <div class="title">Текущий статус</div>
        <div class="statusbox__title">
          {% if user.level == 1 %}Intern Агент{% endif %}
          {% if user.level == 2 %}Junior Агент{% endif %}
          {% if user.level == 3 %}Middle Агент{% endif %}
          {% if user.level == 4 %}Senior Агент{% endif %}
          {% if user.level == 5 %}Team Lead Агент{% endif %}
          {% if user.level == 6 %}Super Star Агент{% endif %}, количество опубликованных новостей: {{user.n_published}}
        </div>
        {% else %}
        <div class="title">Спасибо за предложенные новости. Пока ни одна ваша новость не была опубликована.</div>
        {% endif %}
        <div class="badge-wrapper">
          <div class="badge{% if user.level >= 1 %} badge_active{% else %} badge_disabled{% endif %}{% if user.level == 1 %} badge_current{% endif %}">
            <img src="/static/intern.png">
            <div class="badge__text">
              Intern
            </div>
            <div class="badge__num">
              {{user.n_published}}/1
            </div>
          </div>
          <div class="badge{% if user.level >= 2 %} badge_active{% else %} badge_disabled{% endif %}{% if user.level == 2 %} badge_current{% endif %}">
            <img src="/static/junior.png">
            <div class="badge__text">
              Junior
            </div>
            <div class="badge__text">
              {{user.n_published}}/2
            </div>
          </div>
          <div class="badge{% if user.level >= 3 %} badge_active{% else %} badge_disabled{% endif %}{% if user.level == 3 %} badge_current{% endif %}">
            <img src="/static/middle.png">
            <div class="badge__text">
              Middle
            </div>
            <div class="badge__text">
              {{user.n_published}}/5
            </div>
          </div>
          <div class="badge{% if user.level >= 4 %} badge_active{% else %} badge_disabled{% endif %}{% if user.level == 4 %} badge_current{% endif %}">
            <img src="/static/senior.png">
            <div class="badge__text">
              Senior
            </div>
            <div class="badge__text">
              {{user.n_published}}/10
            </div>
          </div>
          <div class="badge{% if user.level >= 5 %} badge_active{% else %} badge_disabled{% endif %}{% if user.level == 5 %} badge_current{% endif %}">
            <img src="/static/teamlead.png">
            <div class="badge__text">
              Team Lead
            </div>
            <div class="badge__text">
              {{user.n_published}}/20
            </div>
          </div>
          <div class="badge{% if user.level == 6 %} badge_active badge_current{% else %} badge_disabled{% endif %}">
            <img src="/static/superstar.png">
            <div class="badge__text">
              Super Star
            </div>
            <div class="badge__text">
              {{user.n_published}}/30
            </div>
          </div>
        </div>
        <a id="share-btn">
          <div class="statusbox__share-btn">
            Поделиться статусом с друзьями
          </div>
        </a>
        <a href="/leaderboard">
          <div class="statusbox__share-btn">
            Просмотреть лидерборд агентов
          </div>
        </a>
        {% if '/admin' in request.path %}
        <a href="/god/">
          <div class="statusbox__share-btn">
            Перейти в интерфейс администратора
          </div>
        </a>
        {% endif %}
      </div>
      </div>
      <div class="footer">
        <div class="attribution">
          Emoji icons provided free by <a href="https://www.emojione.com" target="_blank">EmojiOne</a>
        </div>
      </div>
    </div>
    <script src="https://vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
    <script type="text/javascript" src="/static/script.js?2"></script>
  </body>
</html>
