<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Агент Лентача</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="container container_transparent">
      <div class="first-screen">
        <div class="logo-wrapper">
          <img class="logo" src="/static/logo.png">
          <div class="logo-text">АГЕНТ</div>
        </div>
        <div class="text">
          ★  Стань агентом Лентача: предлагай новости, получай специальный статус и вознаграждение!
          <br><br>
          ▶  Как начать? Напишите сообщение сообществу. Там наш дружелюбный бот вам все объяснит.
        </div>
        <a href="https://vk.com/im?media=&sel=-154752674">
          <div class="leaderboard-btn">
            Написать сообщение
          </div>
        </a>
        <a href="/leaderboard">
          <div class="leaderboard-btn">
            Посмотреть на лидерборд агентов
          </div>
        </a>
      </div>
      </div>
    </div>
  </body>
</html>
