* {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-weight: 300;
}

body {
  background-color: #823560;
}

.container {
  background-color: #fff;
  padding: 40px;
  max-width: 640px;
  margin: 0 auto;
  height: 450px;
  max-height: 450px;
  overflow: scroll;
}

.container_transparent {
  background-color: transparent;
}

.header {
  margin-bottom: 30px;
}

.title {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #bebebe;
}

.divider {
  height: 1px;
  width: 100%;
  background: #efefef;
}

.user {
  margin-bottom: 30px;
}

.statusbox {
  margin-top: 30px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-size: 18px;
}

.avatar, .name {
  display: inline-block;
  vertical-align: middle;
}

.statusbox__title {
  padding-bottom: 5px;
  font-size: 18px;
  padding-bottom: 20px;
}

.badge-wrapper {
  font-size: 0px;
}

.badge {
  width: 16.66%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.badge img {
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.badge_disabled img {
  transform: scale(0.55);
}

.badge_disabled {
  opacity: 0.3;
}

.badge_active:not(.badge_current) img {
  transform: scale(0.75);
}

.badge__text, .badge__num {
  font-size: 12px;
}

.badge_active .badge__text, .badge_active .badge__num {
  font-weight: 500;
}

.statusbox__btn {
  float: left;
  margin-right: 30px;
}

.statusbox__btn a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.statusbox__share-btn {
  margin-top: 30px;
  background: #6481A4;
  color: #fff;
  display: table;
  font-size: 12.5px;
  padding: 7px 16px 8px;
  line-height: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.statusbox__share-btn:hover {
  background-color: #7697bf;
}

.footer {
  margin-top: 60px;
}

.attribution, .attribution a {
  font-size: 12px;
  color: #ccc;
}

.logo-wrapper {
  display: table;
  border: 4px solid #fff;
  padding: 10px 15px;
}

.logo {
  display: table-cell;
  max-width: 40px;
  vertical-align: middle;
}

.logo-text {
  display: table-cell;
  color: #fff;
  vertical-align: middle;
  font-family: roboto condensed;
  font-size: 38px;
  font-weight: 800;
  line-height: 1;
  padding-left: 20px;
}

.first-screen .text {
  color: #fff;
  font-weight: 300;
  padding-top: 50px;
}

.leaderboard-btn {
  margin-top: 30px;
  background: #fff;
  color: #793B5E;
  display: table;
  font-size: 12.5px;
  padding: 7px 16px 8px;
  line-height: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.leaderboard-btn:hover {
  background: #efefef;
}

.user-item-wrapper {
  font-size: 0px;
  margin-top: 30px;
}

.user-item {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
}

.user-item__avatar {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  position: relative;
}

.user-item__name {
  margin-top: 10px;
}

.user-item__posts-num {
  margin-top: 5px;
}

.user-item__name, .user-item__posts-num {
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
  line-height: 1;
}

.user-item__level {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.user-item__level img {
  max-width: 100%;
}

/* admin panel */
#app .title {
  font-size: 18px;
}

.list-item {
  background: #efefef;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.list-item__text, .list-item__author {
  font-size: 14px;
}

.list-item__text {
  margin-bottom: 5px;
}

.tab-wrapper {
  margin-bottom: 10px;
}

.tab {
  padding: 10px 15px;
  background: #efdfe8;
  color: #333;
  border-radius: 2px;
  display: inline-table;
  cursor: pointer;
  font-size: 14px;
}

.tab_active {
  background-color: #823560;
  color: #fff;
}

.posts {
  transition: opacity 0.2s linear;
}

.posts_hidden {
  opacity: 0;
  height: 0px;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 20px;
  }

  .user {
    margin-bottom: 15px;
  }

  .statusbox {
    margin-top: 15px;
  }

  .title {
    margin-bottom: 10px;
  }

  .statusbox__title, .name {
    font-size: 16px;
  }

  .badge {
    width: 33.33%;
    padding-bottom: 20px;
  }

  .badge_active:not(.badge_current) img {
    transform: scale(0.6);
  }

  .first-screen .text {
    padding-top: 20px;
  }

  .statusbox__share-btn {
    margin: 20px auto 0;
  }

  .attribution {
    text-align: center;
  }

  .user-item {
    width: 25%;
    padding: 10px;
  }

  .user-item__name {
    margin-top: 8px;
  }

  .user-item__posts-num {
    margin-top: 3px;
  }

  .user-item__name, .user-item__posts-num {
    font-size: 10px;
  }
}
